<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <servers>
	<server>
		<id>myMavenRepo</id>
		<username>myMavenRepo</username>
        <password>${env.MYMAVEN_PASSWORD}</password>
	</server>
  </servers>
  <profiles>
    <profile>
      <repositories>
		<repository>
			<id>central</id>
			<url>http://repo1.maven.org/maven2</url>
			<releases>
				<enabled>true</enabled>
			</releases>
			<snapshots>
				<enabled>false</enabled>
			</snapshots>
		</repository>
		<repository>
            <id>myMavenRepo</id>
            <url>https://mymavenrepo.com/repo/aWGy3IWFD4fBSdjUYivc/</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
			<id>central</id>
			<url>http://repo1.maven.org/maven2</url>
			<releases>
				<enabled>true</enabled>
			</releases>
			<snapshots>
				<enabled>false</enabled>
			</snapshots>
        </pluginRepository>
      </pluginRepositories>
      <properties><deployUrl>https://mymavenrepo.com/repo/gBtyVhJMBtwsDVbdVI3B/</deployUrl></properties>
      <id>artifactory</id>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>
</settings>
